/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f6f9;
}

.App {
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.form-container {
  margin-bottom: 20px;
}

.ticker-input {
  padding: 10px;
  font-size: 1rem;
  width: 250px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ticker-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submit-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-btn:hover:enabled {
  background-color: #218838;
}

.loading-message {
  font-size: 1.2rem;
  color: #4CAF50;
  margin-top: 20px;
}

.stock-card {
  margin-top: 40px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.stock-card:hover {
  transform: translateY(-5px);
}

.stock-card h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4CAF50;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

/* Toast Notification Container Styling */
.Toastify__toast-container {
  top: 20px;
}

.Toastify__toast {
  border-radius: 8px;
  padding: 10px;
  font-size: 1rem;
}

.Toastify__toast-body {
  color: black !important;
}

.Toastify__toast--error {
  background-color: #d75046; 
  
}

.Toastify__toast--success {
  background-color: #4caf50; 
}

.Toastify__toast--info {
  background-color: #74b2e6; 
}

.Toastify__toast--warning {
  background-color: #ff9800;
}
